/* You can add custom styles here. */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html {
  font-size: 20px;
}

body {
  font-family: "EB Garamond", serif;
}

.ingredients ul {
  margin: 0;
  padding: 0;

  @media (min-width: 38rem) {
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid rgb(63, 63, 63);
  }
  li {
    list-style: none;
  }
}
// @import "plugins/numbered";

.book-page {
  min-width: 15rem;
}

.max-height {
  max-height: calc(100vh - 12rem);
}
